In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense, Input, BatchNormalization, Dropout
from tensorflow.keras.models import Sequential, Model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import m

In [2]:
index=pd.read_csv('data_subjects_info.csv')

In [3]:
data = pd.read_csv('dws_1/sub_1.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1751 entries, 0 to 1750
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1751 non-null   int64
 1   attitude.roll       1751 non-null   float64
 2   attitude.pitch      1751 non-null   float64
 3   attitude.yaw        1751 non-null   float64
 4   gravity.x           1751 non-null   float64
 5   gravity.y           1751 non-null   float64
 6   gravity.z           1751 non-null   float64
 7   rotationRate.x      1751 non-null   float64
 8   rotationRate.y      1751 non-null   float64
 9   rotationRate.z      1751 non-null   float64
 10  userAcceleration.x  1751 non-null   float64
 11  userAcceleration.y  1751 non-null   float64
 12  userAcceleration.z  1751 non-null   float64
dtypes: float64(12), int64(1)
memory usage: 178.0 KB

In [4]:
data2=pd.DataFrame()
for i in range (0,24):
    temp_data=pd.read_csv('dws_1/sub_'+str(i+1)+'.csv')
    temp_data['weight']=index.iloc[i,1]
    temp_data['height']=index.iloc[i,2]
    temp_data['age']=index.iloc[i,3]
    temp_data['gender']=index.iloc[i,4]
    data2=data2.append(temp_data)

In [5]:
data2
dws=data2

In [6]:
data2=pd.DataFrame()
for i in range (0,24):
    temp_data=pd.read_csv('jog_9/sub_'+str(i+1)+'.csv')
    temp_data['weight']=index.iloc[i,1]
    temp_data['height']=index.iloc[i,2]
    temp_data['age']=index.iloc[i,3]
    temp_data['gender']=index.iloc[i,4]
    data2=data2.append(temp_data)
jog=data2

In [7]:
data2=pd.DataFrame()
for i in range (0,24):
    temp_data=pd.read_csv('sit_5/sub_'+str(i+1)+'.csv')
    temp_data['weight']=index.iloc[i,1]
    temp_data['height']=index.iloc[i,2]
    temp_data['age']=index.iloc[i,3]
    temp_data['gender']=index.iloc[i,4]
    data2=data2.append(temp_data)
sit=data2

In [8]:
data2=pd.DataFrame()
for i in range (0,24):
    temp_data=pd.read_csv('std_6/sub_'+str(i+1)+'.csv')
    temp_data['weight']=index.iloc[i,1]
    temp_data['height']=index.iloc[i,2]
    temp_data['age']=index.iloc[i,3]
    temp_data['gender']=index.iloc[i,4]
    data2=data2.append(temp_data)
std=data2

In [9]:
data2=pd.DataFrame()
for i in range (0,24):
    temp_data=pd.read_csv('wlk_7/sub_'+str(i+1)+'.csv')
    temp_data['weight']=index.iloc[i,1]
    temp_data['height']=index.iloc[i,2]
    temp_data['age']=index.iloc[i,3]
    temp_data['gender']=index.iloc[i,4]
    data2=data2.append(temp_data)
wlk=data2

In [10]:
data2=pd.DataFrame()
for i in range (0,24):
    temp_data=pd.read_csv('ups_3/sub_'+str(i+1)+'.csv')
    temp_data['weight']=index.iloc[i,1]
    temp_data['height']=index.iloc[i,2]
    temp_data['age']=index.iloc[i,3]
    temp_data['gender']=index.iloc[i,4]
    data2=data2.append(temp_data)
ups=data2

In [11]:
dws.head(10)

,Unnamed: 0,attitude.roll,attitude.pitch,attitude.yaw,gravity.x,gravity.y,gravity.z,rotationRate.x,rotationRate.y,rotationRate.z,userAcceleration.x,userAcceleration.y,userAcceleration.z,weight,height,age,gender
0,0,1.528132,-0.733896,0.696372,0.741895,0.669768,-0.031672,0.316738,0.778180,1.082764,0.294894,-0.184493,0.377542,102,188,46,1
1,1,1.527992,-0.716987,0.677762,0.753099,0.657116,-0.032255,0.842032,0.424446,0.643574,0.219405,0.035846,0.114866,102,188,46,1
2,2,1.527765,-0.706999,0.670951,0.759611,0.649555,-0.032707,-0.138143,-0.040741,0.343563,0.010714,0.134701,-0.167808,102,188,46,1
3,3,1.516768,-0.704678,0.675735,0.760709,0.647788,-0.041140,-0.025005,-1.048717,0.035860,-0.008389,0.136788,0.094958,102,188,46,1
4,4,1.493941,-0.703918,0.672994,0.760062,0.647210,-0.058530,0.114253,-0.912890,0.047341,0.199441,0.353996,-0.044299,102,188,46,1
5,5,1.476302,-0.700807,0.669443,0.760912,0.644835,-0.072116,0.187742,-0.763656,0.226057,0.168241,0.145906,0.012455,102,188,46,1
6,6,1.455153,-0.694408,0.662593,0.763300,0.639930,-0.088666,0.343096,-0.803820,0.278468,0.079382,-0.026344,-0.195590,102,188,46,1
7,7,1.441702,-0.690710,0.656459,0.764380,0.637084,-0.099229,0.176202,-0.172756,0.056415,0.069360,0.072678,-0.102920,102,188,46,1
8,8,1.443440,-0.691905,0.651196,0.763796,0.638005,-0.097803,0.274786,0.446585,-0.132766,0.072889,0.079921,-0.075323,102,188,46,1
9,9,1.443071,-0.693039,0.638198,0.763042,0.638878,-0.097993,0.633672,0.316372,-0.115137,0.098347,-0.017021,-0.197310,102,188,46,1

In [12]:
order=['sit','std','wlk','jog','ups','dws']

In [13]:
sit['activity']=1
std['activity']=2
wlk['activity']=3
jog['activity']=4
ups['activity']=5
dws['activity']=6

In [14]:
final_data = pd.concat([sit, std,wlk,jog,ups,dws], ignore_index=True)

In [15]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830895 entries, 0 to 830894
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          830895 non-null  int64
 1   attitude.roll       830895 non-null  float64
 2   attitude.pitch      830895 non-null  float64
 3   attitude.yaw        830895 non-null  float64
 4   gravity.x           830895 non-null  float64
 5   gravity.y           830895 non-null  float64
 6   gravity.z           830895 non-null  float64
 7   rotationRate.x      830895 non-null  float64
 8   rotationRate.y      830895 non-null  float64
 9   rotationRate.z      830895 non-null  float64
 10  userAcceleration.x  830895 non-null  float64
 11  userAcceleration.y  830895 non-null  float64
 12  userAcceleration.z  830895 non-null  float64
 13  weight              830895 non-null  int64
 14  height              830895 non-null  int64
 15  age                 830895 non-null  int64
 16  gender              830895 non-null  int64
 17  activity            830895 non-null  int64
dtypes: float64(12), int64(6)
memory usage: 114.1 MB

In [16]:
final_data.head()

,Unnamed: 0,attitude.roll,attitude.pitch,attitude.yaw,gravity.x,gravity.y,gravity.z,rotationRate.x,rotationRate.y,rotationRate.z,userAcceleration.x,userAcceleration.y,userAcceleration.z,weight,height,age,gender,activity
0,0,0.351138,-0.416302,-0.098023,0.314588,0.404381,-0.858784,-0.003655,0.009577,-0.000234,0.000094,0.000252,-0.006954,102,188,46,1,1
1,1,0.351219,-0.416372,-0.098025,0.314649,0.404445,-0.858732,-0.007937,0.007457,0.000807,-0.001309,0.002262,-0.010348,102,188,46,1,1
2,2,0.351145,-0.416497,-0.098045,0.314567,0.404560,-0.858708,-0.007960,-0.001053,-0.002387,-0.002174,0.000012,-0.006664,102,188,46,1,1
3,3,0.350849,-0.416695,-0.098148,0.314286,0.404740,-0.858726,-0.000521,-0.006411,-0.001261,0.001693,0.009216,-0.011575,102,188,46,1,1
4,4,0.350859,-0.416863,-0.098022,0.314271,0.404894,-0.858658,-0.001613,-0.004306,0.006206,0.005767,0.007490,-0.008926,102,188,46,1,1

In [17]:
X = final_data[['attitude.roll', 'attitude.pitch', 'attitude.yaw', 'gravity.x', 'gravity.y', 'gravity.z','rotationRate.x','rotationRate.y','rotationRate.z','userAcceleration.x','userAcceleration.y','userAcceleration.z']]
y = final_data[['activity']]

In [18]:
y

        activity
0              1
1              1
2              1
3              1
4              1
...          ...
830890         6
830891         6
830892         6
830893         6
830894         6

[830895 rows x 1 columns]

In [19]:
from sklearn.preprocessing import OneHotEncoder
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')
# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(y[['activity']]).toarray())
# merge with main df bridge_df on key values
y = y.join(enc_df)

In [20]:
y.pop("activity")

0         1
1         1
2         1
3         1
4         1
         ..
830890    6
830891    6
830892    6
830893    6
830894    6
Name: activity, Length: 830895, dtype: int64

In [21]:
y

          0    1    2    3    4    5
0       1.0  0.0  0.0  0.0  0.0  0.0
1       1.0  0.0  0.0  0.0  0.0  0.0
2       1.0  0.0  0.0  0.0  0.0  0.0
3       1.0  0.0  0.0  0.0  0.0  0.0
4       1.0  0.0  0.0  0.0  0.0  0.0
...     ...  ...  ...  ...  ...  ...
830890  0.0  0.0  0.0  0.0  0.0  1.0
830891  0.0  0.0  0.0  0.0  0.0  1.0
830892  0.0  0.0  0.0  0.0  0.0  1.0
830893  0.0  0.0  0.0  0.0  0.0  1.0
830894  0.0  0.0  0.0  0.0  0.0  1.0

[830895 rows x 6 columns]

In [22]:
x_train, x_test, y_train, y_test = train_test_split( X, y, test_size=0.000001, random_state=142)

In [23]:
x_train.info(), y_train.info(),x_test.info(), y_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 830894 entries, 112264 to 367813
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   attitude.roll       830894 non-null  float64
 1   attitude.pitch      830894 non-null  float64
 2   attitude.yaw        830894 non-null  float64
 3   gravity.x           830894 non-null  float64
 4   gravity.y           830894 non-null  float64
 5   gravity.z           830894 non-null  float64
 6   rotationRate.x      830894 non-null  float64
 7   rotationRate.y      830894 non-null  float64
 8   rotationRate.z      830894 non-null  float64
 9   userAcceleration.x  830894 non-null  float64
 10  userAcceleration.y  830894 non-null  float64
 11  userAcceleration.z  830894 non-null  float64
dtypes: float64(12)
memory usage: 82.4 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 830894 entries, 112264 to 367813
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       830894 non-null  float64
 1   1       830894 non-null  float64
 2   2       830894 non-null  float64
 3   3       830894 non-null  float64
 4   4       830894 non-null  float64
 5   5       830894 non-null  float64
dtypes: float64(6)
memory usage: 44.4 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 826641 to 826641
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   attitude.roll       1 non-null      float64
 1   attitude.pitch      1 non-null      float64
 2   attitude.yaw        1 non-null      float64
 3   gravity.x           1 non-null      float64
 4   gravity.y           1 non-null      float64
 5   gravity.z           1 non-null      float64
 6   rotationRate.x      1 non-null      float64
 7   rotationRate.y      1 non-null      float64
 8   rotationRate.z      1 non-null      float64
 9   userAcceleration.x  1 non-null      float64
 10  userAcceleration.y  1 non-null      float64
 11  userAcceleration.z  1 non-null      float64
dtypes: float64(12)
memory usage: 104.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 826641 to 826641
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1 non-null      float64
 1   1       1 non-null      float64
 2   2       1 non-null      float64
 3   3       1 non-null      float64
 4   4       1 non-null      float64
 5   5       1 non-null      float64
dtypes: float64(6)
memory usage: 56.0 bytes

(None, None, None, None)

In [24]:
x_train = np.array(x_train)
y_train = np.array(y_train)
x_train.shape, y_train.shape

((830894, 12), (830894, 6))

In [28]:
model = Sequential()
model.add(Dense(100, activation = 'relu', input_shape = (12,)))
model.add(BatchNormalization())
model.add(Dropout(rate = 0.25))
model.add(Dense(200, activation = 'relu'))
model.add(BatchNormalization())
model.add(Dropout(rate = 0.25))

model.add(Dense(6, activation = 'softmax'))
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 100)               1300

 batch_normalization_5 (Batc  (None, 100)              400
 hNormalization)

 dropout_5 (Dropout)         (None, 100)               0

 dense_7 (Dense)             (None, 200)               20200

 batch_normalization_6 (Batc  (None, 200)              800
 hNormalization)

 dropout_6 (Dropout)         (None, 200)               0

 dense_8 (Dense)             (None, 6)                 1206

=================================================================
Total params: 23,906
Trainable params: 23,306
Non-trainable params: 600
_________________________________________________________________

In [29]:
model.compile(loss = 'categorical_crossentropy', optimizer = 'Adam', metrics = ['accuracy'])

In [30]:
history=model.fit(x_train, y_train, batch_size = 32, epochs =5,validation_split = 0.2, verbose = 1)

Epoch 1/5
20773/20773 [==============================] - 29s 1ms/step - loss: 0.4675 - accuracy: 0.8239 - val_loss: 0.3587 - val_accuracy: 0.8688
Epoch 2/5
20773/20773 [==============================] - 29s 1ms/step - loss: 0.4028 - accuracy: 0.8488 - val_loss: 0.3425 - val_accuracy: 0.8767
Epoch 3/5
20773/20773 [==============================] - 29s 1ms/step - loss: 0.3876 - accuracy: 0.8550 - val_loss: 0.3280 - val_accuracy: 0.8789
Epoch 4/5
20773/20773 [==============================] - 28s 1ms/step - loss: 0.3799 - accuracy: 0.8581 - val_loss: 0.3250 - val_accuracy: 0.8850
Epoch 5/5
20773/20773 [==============================] - 29s 1ms/step - loss: 0.3739 - accuracy: 0.8607 - val_loss: 0.3237 - val_accuracy: 0.8880

In [31]:
model.save("xyz")

INFO:tensorflow:Assets written to: xyz\assets

In [34]:
import tensorflow as tf
converter = tf.lite.TFLiteConverter.from_saved_model("xyz")
converter.optimizations = [tf.lite.Optimize.DEFAULT]
converter.target_spec.supported_types = [tf.float16]
tflite_quant_model = converter.convert()
open("converted_model1000.tflite", "wb").write(tflite_quant_model)

WARNING:absl:Buffer deduplication procedure will be skipped when flatbuffer library is not properly loaded

49136